<?php

$url = "http://YOURSERVER:8080";

$nome_usuario = "USERNAME";

$senha = "PASSWORD";

$interno2 = md5($nome_usuario.$senha);

$options = array(
        'http' => array(
        'header'  => "Content-type: text/xml;charset=iso-8859-1\r\n",
        'method'  => 'POST'
        )
  ); //DEFAULT OPTIONS

?>
